.bp1{
	height: 90vh;
	background-image: url(images/nge_moon.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bp2{
	height: 90vh;
	background-image: url(images/nostalgia.jpg);
	background-position: center;
	background-size: cover;
}

.bp3{
	height: 90vh;
	background-image: url(images/present.jpg);
	background-position: center;
	background-size: cover;
}

.bp4{
	height: 90vh;
	background-image: url(images/future.jpg);
	background-position: center;
	background-size: cover;
}


.head1{
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkmagenta;
}

.head2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgoldenrodyellow;
}

.head3{
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgoldenrodyellow;
}

.head4{
	display: flex;
	justify-content: center;
	align-items: center;
	color: lightgoldenrodyellow;
}

.vid-rei{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.vids-past{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro{
	color: floralwhite;
	font-size: 24pt;
	text-align: center;
}

.p1-images{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p1-pathway{
	margin-left: 50px;
	width: 350px;
	height: 200px;
}

.vid-space{
	margin-left: 50px;
}